//$background-color-0: #bebebe;
//$background-color-50: #e0e0e0;
//$background-color-100: #ffffff;

$background-color-0: #cacaca;
$background-color-50: #f1f1f1;
$background-color-100: #ffffff;

$border-radius: 10px;
$min-width: 400px;

$text-color-light: rgb(70, 70, 70);
$text-color-strong: rgb(30, 30, 30);;
